// Colors
$Greygreen: hsl(120, 100%, 90%);
$Midlightblue: hsl(220, 60%, 50%);
$Brightpink: hsl(320, 100%, 55%);
$UCDBlue: hsla(210, 100%, 16%, 1);
$UCDGold: hsla(45, 100%, 50%, 1);
$NVCGreen: hsl(142, 11%, 48%);
$NVCGold: hsl(45, 94%, 36%);