.exp-page {
    background: linear-gradient(#005361, #92007c);
    padding: 2rem 0rem;
}


.exp-heading {
    padding-left: 1.5rem;
    text-align: center;
}

.exp-list li, p {
    padding-bottom: 20px;
}